@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}


/*.discover-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }*/

/* Small Screens (320 - 640px) */
@media (max-width: 640px) {
    .discover-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
    }
  }
  
  /* Medium Screens (641px - 1024px) */
  @media (min-width: 641px) and (max-width: 1024px) {
    .discover-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
    }
  }
  
  /* Large Screens (1025px and above) */
  @media (min-width: 1025px) {
    .discover-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
    }
  }
  
  
